workspace.code-workspace
.vscode
50_project_web
50_project_web_source_code
F8/F8_javascript_nang_cao
F8/F8_node_js/get_started/node_modules
F8/F8_javascript_nang_cao
F8/F8_ReactJS/create_react_app/make_by_seft/node_modules
F8/F8_JavaScipt_co_ban/json_server/node_modules