@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(100, 0, 156, 0.7);
  font-family: 'Roboto Mono', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  margin: 30px 50px;
}

.counter-container .fab {
  font-size: 36px;
}

.counter {
  margin-top: 8px;
  font-size: 60px;
}

.counter-container span {
  font-size: 16px;
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}
