@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

:root {
  --backgroud-color: #3494e4;
  --border-color: #144fc6;
  --fill-color: #6ab3f8;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--backgroud-color);
  color: #fff;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

/* 
2 biến: boder-color: màu của viền #144fc6
fill-color: màu của cups khi được drink
backround color: #3494e4
không cần justyfy content vì không cần căng theo chiều dọc
flex column nên trục main axis nằm đứng
không cần cả height vì không cần căn theo chiều đứng
margin bottom: 40px => để không bị dính vào bottom
cup dislay flex, column, overflow: hidden
cup-small có màu trắng mờ hơn rgba(255, 255, 255, 0.9)
cupsmall có class cup nên có flex, dùng justfy and 
aligh-items center, text-aligh: center, transision: .3s ease
thẻ chứa các cups: display: flex, chiều dài vừa đủ cho 4 cups 
sau đó waps
cups full: color -> fill #6ab3f8
remained: flex 1
transision giống như cupsmall
percentage: -> fill color
flex -> center
font-weight: bold -> để in đậm text
height: 0 -> tăng khi được drink
transision .3s ease
*/

h1 {
  margin: 10px 0 0 0;
  padding: 0px;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
}

.cup {
  background-color: #fff;
  border: 4px solid var(--border-color);
  border-radius: 0 0 40px 40px;
  color: var(--backgroud-color);
  width: 150px;
  height: 330px;
  margin: 5px 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.3s ease;
}

.cup.cup-small {
  background-color: rgba(255, 255, 255, 0.9);
  height: 95px;
  width: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0 0 15px 15px;
  border: 3px solid var(--border-color);
  cursor: pointer;
}

.cup.cup-small.full {
  background-color: var(--fill-color);
  color: #fff;
}

.cups {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  transition: 0.3s ease;
}

.text {
  margin-top: 40px;
}

.remained {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.remained span {
  font-size: 18px;
  font-weight: bold;
}

.remained small {
  font-size: 12px;
  margin-bottom: 3px;
}

.percentage {
  background-color: var(--fill-color);
  color: var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 26px;
  transition: 0.3s ease;
}
