.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 1em 2em;
  margin: 1em;
  cursor: pointer;
}

input {
  padding: 1em;
}

.content {
  width: 70vw;
}
