@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --btn-height: 50px;
  --btn-width: 100px;
  --hidden-btn-width: 50px;
  --input-width: 250px;
  --border-radius-size: 30px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #24272c;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

.search {
  position: relative;
  height: var(--btn-height);
}

.search #hidden-icon {
  height: var(--btn-height);
  width: var(--hidden-btn-width);
  border-radius: var(--border-radius-size);
  top: 0;
  left: 0;
  z-index: -1;
}

.search #search-icon {
  transition: transform 0.3s ease;
}

.search.active #hidden-icon {
  z-index: 0;
  transition: transform 0.3s ease;
}

.search.active #search-icon {
  border-radius: var(--border-radius-size);
  transform: translateX(calc(var(--input-width) - 52px));
  transition: transform 0.3s ease;
}

.search .search_input {
  border-radius: var(--border-radius-size);
  background-color: #ff7a00;
  border: 0;
  height: var(--btn-height);
  width: var(--btn-width);
  padding: 15px;
  font-size: 18px;
  transition: width 0.3s ease;
}

.search.active .search_input {
  color: black;
  top: 0;
  left: 50px;
  padding-left: 50px;
  border-radius: var(--border-radius-size);
  width: var(--input-width);
}

.search .search_btn {
  border-radius: var(--border-radius-size);
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff7a00;
  border: 0;
  height: var(--btn-height);
  width: var(--btn-width);
}

.search_btn,
.search_input:focus {
  outline: none;
}
